.ipnyb_checkpoints/
.ipnyb_checkpoints
.virtual_documents/
*.py
Testing/
Testing.ipnyb 
Testing.py
Test.py
pywhatkit_dbs.txt
*.txt
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
